/* Utils */

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 10px;
}

.small-container{
	max-width: 900px;
	margin: 0 auto;
	padding: 0 10px;
}

.footer-container{
	max-width: 700px;
	margin: 0 auto;
	padding: 0 10px;
}

.clearfix::after {
	content: '';
	clear: both;
	display: table;
}

.d-flex{
	display: flex;
}


